* {
  box-sizing:border-box;
}
body { 
      font-family: 'Trebuchet MS', serif;
}

.heading-primary {
  font-size:5em;
  padding:2em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em; 
}
ul.tabs{
      margin: 0px;
      padding: 35px;
      list-style: none;
    }
    ul.tabs li{
      background: grey;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: yellowgreen;
      color: #222;
    }

    .tab-content{
      display: none;
      background: #ededed;
      padding-left: 3em;
    }

    .tab-content.current{
      display: inherit;
    }
.accordion p, li {
  padding:.9em 3px .1em 3em;
}

.accordion {
    position:relative;
    background-color:#eee;
}
.container {
  max-width:1300px;
  margin:0 auto;
  padding:2px 0 1px 0;
}
.accordionTitle,
.accordion__Heading {
 background-color:#433937; 
   text-align:center;
     font-weight:1000; 
          padding:1.4em;
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
